<h1>Listing Solutions for <%= @problem.title%></h1>

<table>
  <thead>
    <tr>
      <th>Explanation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td><%= solution.explanation %></td>
        <td><%= link_to 'Edit', edit_customer_problem_solution_path(:customer_id => @customer.id, :problem_id => @problem.id, :id => solution.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New solution', new_customer_problem_solution_path(:customer_id => @customer.id, :problem_id => @problem.id) %> |
<%= link_to @problem.title, customer_problem_path(:customer_id => @customer.id, :id => @problem.id) %>
